@model CategoryFoodsVm
<section class="row">
    <article class="me-2">
        <h1>@Html.DisplayFor(m => Model.CategoryDetails!.Name) </h1>
    </article>
    @if (Model.Foods!.Count() > 0)
    {
        @foreach (var item in Model.Foods!)
        {
            <article class="me-2 col-lg-3">
                @await Html.PartialAsync("Food/_Card", item)
            </article>
        }
    }
    else
    {
        <article class="alert alert-warning" role="alert">There is no food item available for this category yet!</article>
    }
</section>
<br />
<br />
<div>
    <partial name="_BackToList" />
</div>